*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body{
  /* background-image: linear-gradient(120deg, #f6d365, #fda085); */
  
  background-image:  linear-gradient(120deg, #a18cd1 0%, #fbc2eb 100%);
  color: white;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

header{
  font-size: 1.2rem;
}

header, form{
  min-height:20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input, form button{
  padding:0.5rem;
  font-size: 2rem;
  border:none;
  background: white;
}

form button{
  color: #e63946;
  background: white;
  cursor: pointer;
  transition: all 1 ease;
}

form button:hover{
  background:#e63946;
  color:white;

}